<footer class="header footer-bar">
    <div class="header-left">
        <p class="header-subtitle">© 2026 CineVillage Admin Portal</p>
    </div>
    <div class="header-right">
        <p class="header-subtitle">IS3108 Assignment</p>
    </div>
</footer>